<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Птицы</title>
</head>
<body>
<form action="" method="POST">
    <div class="container border border-primary" style="background: #D0D0FF; border-radius: 10px; margin-top: 50px; padding: 10px">
        <h2 align="center"><a href="C:\Users\DINILGO\PycharmProjects\Сайт\sign_in.html">Вход</a></h2>


        <h3 align="center"><a href="C:\Users\DINILGO\PycharmProjects\Птицы_Проект.py">Волнистые попугаи</a></h3>
        <img src="C:\Users\DINILGO\PycharmProjects\Сайт\Птицы\Волнистые попугаи\Картинка.jpg"/>
        <h3 align="center"><a href="C:\Users\DINILGO\PycharmProjects\Птицы_Проект.py">Жако</a></h3>
        <img src="C:\Users\DINILGO\PycharmProjects\Сайт\Птицы\Жако\Картинка.jpg"/>
        <h3 align="center"><a href="C:\Users\DINILGO\PycharmProjects\Птицы_Проект.py">Какаду</a></h3>
        <img src="C:\Users\DINILGO\PycharmProjects\Сайт\Птицы\Какаду\Картинка.jpg"/>
        <h3 align="center"><a href="C:\Users\DINILGO\PycharmProjects\Птицы_Проект.py">Корелла</a></h3>
        <img src="C:\Users\DINILGO\PycharmProjects\Сайт\Птицы\Корелла\Картинка.jpg"/>
        <h3 align="center"><a href="C:\Users\DINILGO\PycharmProjects\Птицы_Проект.py">Сова</a></h3>
        <img src="C:\Users\DINILGO\PycharmProjects\Сайт\Птицы\Сова\Картинка.jpg"/>
    </div>
</form>
</body>
</html>